<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="flex">
        <a href="/article">
          <button>All Articles</button>
        </a>
        <a href="/article/new">
          <button>Add Article</button>
        </a>
      </nav>
    </header>
    <main class="main container">
      <h1>Welcome to Article Mania</h1>
      <p>
        Our Website gives you the access to write about articles on any topic.
        We give the liberty to select user to write about any topic in the
        world.Many people will come to our website and it will allow them to
        like and dislike your article. You can edit or delete your article at
        any point of time when you feel so.
      </p>
      
    </main>
  </body>
</html>
